body {
    margin:0;
    background: url("earth-background.jpg") no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  .square {
      width:12vw;
      height:20vh;
      padding:15px;
      
      
      margin: 10px;
      background: rgba(0, 0, 0, 0.7);

  }
  

  .gameTable {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .scoreboard {

    background: rgba(30, 10, 212, 0.7);

    height: 6vh;

  }

  .userData {
    display: flex;
    justify-content: space-between;
  }



  .scoreData {
    display: flex;
    justify-content: space-between;
  }


  .square > img {
    width: 100%;
    
    

  }

  .square > .text {

    color:  white;
    
    text-align: center;
    padding: 10px;


  }

  .controllBlock {

  }


  /* Levels class */

  .first-level {

    
  }


  /* Square styles options */
  
 