body {
    margin:0;
    background: url("earth-background.jpg") no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  .square {
      width:12vw;
      height:20vh;
      padding:15px;
      margin: 10px;
      background: rgba(0, 0, 0, 0.7);

  }

  .playerBoard > div {

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  
  }
  .playerBoard {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;


  }
  

  .gameTable {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    height: 70vh;
  }

  .scoreboard {

    background: rgba(30, 10, 212, 0.7);

    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;

  }

  .userData {
    display: flex;
    justify-content: space-between;
  }



  .scoreData {
    display: flex;
    justify-content: space-between;
  }


  .square > img {
    width: 100%;
    
    

  }

  .square > .text {

    color:  white;
    
    text-align: center;
    padding: 10px;


  }

  .controllBlock {

  }
  .astro {
    width: 350px;

  }


  /* Levels class */

  .first-level {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

  }

  .second-level {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

  }

  .third-level {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

  }

  .description {

    height: 80%;
    width: 100%;
    color: white;
    font-size: 20px;
    padding:40px;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    float: left;

  }

.hidden-level {
  display: none;
}

.buttons {
  position: fixed;
  bottom: 0;
  margin-left: 42vw;
  padding: 50px;
}

.back2 {

  display: none;
}

.show {
  display: inline-block;
}
  /* Square styles options */
  
 